body {
	background-color: #ededed;
}

p{
	margin-bottom: 0;
}

h6{
	margin-top: 10px;
	font-family: 'Comfortaa', cursive;
}

.row{
	width: 75%;
	margin: auto;
}

.col{
	background-color: #FFF;
	text-align: center;
	margin: 10px;
}

.col.rounded{
	border-style: solid;
	border-color: #11111129;
}

.col.rounded.sol-path{
	margin: 0;
}

.btns-holder{
	margin: 10px 0 10px 0;
}

.gameboard{
	display: inline-block;
	margin: 0 5px 0 5px;
	width: 90px;
}

.gameboard-body{
	width: 39px;
	margin: auto;
	font-family: 'Comfortaa', cursive;
}

.gameboard-body.child{
	margin: 10px auto;
}