

p{
	margin-bottom: 0;
}

.row{
	margin-top: 20px;
}

.col{
	text-align: center;
}

.container-fluid{
	background-color: #ededed;
}

.gameboard{
	display: inline-block;
	margin: 0 5px 0 5px;
}

.gameboard-body{
	width: 39px;
	text-align: left;
	margin: auto;
}

.gameboard-body.child{
	margin: 10px auto;
}