

p{
	margin-bottom: 0;
}

.row{
	margin-top: 20px;
}

.col{
	text-align: center;
}

.container-fluid{
	background-color: #ededed;
}

.oi.oi-chevron-left, .oi.oi-chevron-right{
	margin: 15px;
}

.gameboard{
	display: inline-block;
	margin: 0 5px 0 5px;
}

.gameboard-body{
	width: 50px;
	text-align: left;
	margin: auto;
}